{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
    <title>{{ process.runId }}</title>
{% endblock %}
{% block body_block %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>

   <section class="jumbotron text-center">
       <div class="container">
           <h1 class="jumbotron-heading font-italic display-4">About</h1>
           <p>nextflow run -with-weblog {address}:{port}/listen/ main.nf</p>
       </div>
   </section>
   <div>

{% endblock %}
